 .parallax {
  /* The image used */
    background-image: url("home.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
  background-image: url("home.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  text-align: center;
  padding-top: 150px;
  padding-left: 150px;
  color: white;
}

h1 {
  text-align: center;
  padding-top: 150px;
  padding-left: 150px;
  color: white; 
}
